apps/n8n/workflows/02-morning-inventory-check.json
{
  "name": "\u4e0a\u73ed\u5e93\u5b58\u6838\u5bf9 - Morning Inventory Check",
  "nodes": [
    {
      "id": "225791c0-0f10-43d1-9036-2efeca663171",
      "name": "09:00 \u5b9a\u65f6\u89e6\u53d1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "hour": [
            {
              "field": "hour",
              "hoursInterval": 24
            }
          ],
          "minute": 0
        }
      }
    },
    {
      "id": "b955f836-581f-4afa-b62a-056c331f4806",
      "name": "\u62c9\u53d6\u60e0\u7a0b\u8363\u8fbe\u5e93\u5b58",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        250,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/api/inventory/hcrd",
        "options": {},
        "sendBody": false,
        "sendHeaders": true
      }
    },
    {
      "id": "cead066a-61af-4be6-b6e1-5ac24a204b71",
      "name": "\u62c9\u53d6TikTok\u5e93\u5b58",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        250,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/api/inventory/tiktok",
        "options": {},
        "sendBody": false,
        "sendHeaders": true
      }
    },
    {
      "id": "f8798577-753a-46d1-92dc-6fbfbc529d2a",
      "name": "\u5408\u5e76\u5e93\u5b58\u6570\u636e",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      }
    },
    {
      "id": "1ffb6ddd-1d18-42b3-ad2a-1766c676075f",
      "name": "\u5bf9\u6bd4\u5e93\u5b58\u5dee\u5f02",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "language": "python",
        "code": "# \u5bf9\u6bd4\u60e0\u7a0b\u8363\u8fbe\u5e93\u5b58 \u4e0e TikTok \u5e93\u5b58\n# \u8f93\u5165\u683c\u5f0f: { \"hcrd\": [...], \"tiktok\": [...] }\n\nimport json\n\nhcrd_items = items[0] if items else []\ntiktok_items = items[1] if len(items) > 1 else []\n\n# \u6309 SKU \u5efa\u7acb\u7d22\u5f15\nhcrd_map = {i.get('sku'): i for i in hcrd_items}\ntiktok_map = {i.get('sku'): i for i in tiktok_items}\n\nall_skus = set(list(hcrd_map.keys()) + list(tiktok_map.keys()))\n\ndiffs = []\nfor sku in sorted(all_skus):\n    hcrd_stock = hcrd_map.get(sku, {}).get('stock', 0) or 0\n    tiktok_stock = tiktok_map.get(sku, {}).get('stock', 0) or 0\n    \n    if hcrd_stock != tiktok_stock:\n        diffs.append({\n            'sku': sku,\n            'hcrd_stock': hcrd_stock,\n            'tiktok_stock': tiktok_stock,\n            'diff': hcrd_stock - tiktok_stock,\n            'risk': 'oversold' if tiktok_stock > hcrd_stock else 'stock_diff',\n        })\n\nreturn diffs"
      }
    },
    {
      "id": "c8765a27-972e-4787-bfe8-53b9e1880117",
      "name": "\u540c\u6b65\u5dee\u5f02\u5230 TK-SaaS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/inventory/reconcile",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "check_type",
              "value": "morning"
            },
            {
              "name": "differences",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "47e61d52-412d-4ddc-b218-311edde75ae6",
      "name": "\u6709\u5dee\u5f02\uff1f",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        500
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items(\"\u5bf9\u6bd4\u5e93\u5b58\u5dee\u5f02\").length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "8a4859d4-4bf4-4a0c-94e1-9e0ac91030f8",
      "name": "\u5dee\u5f02\u901a\u77e5\uff08\u9884\u7559\uff09",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1250,
        500
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "09:00 \u5b9a\u65f6\u89e6\u53d1": {
      "main": [
        [
          {
            "node": "\u62c9\u53d6\u60e0\u7a0b\u8363\u8fbe\u5e93\u5b58",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u62c9\u53d6\u60e0\u7a0b\u8363\u8fbe\u5e93\u5b58": {
      "main": [
        [
          {
            "node": "\u5408\u5e76\u5e93\u5b58\u6570\u636e",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u62c9\u53d6TikTok\u5e93\u5b58": {
      "main": [
        [
          {
            "node": "\u5408\u5e76\u5e93\u5b58\u6570\u636e",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "\u5408\u5e76\u5e93\u5b58\u6570\u636e": {
      "main": [
        [
          {
            "node": "\u5bf9\u6bd4\u5e93\u5b58\u5dee\u5f02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u5bf9\u6bd4\u5e93\u5b58\u5dee\u5f02": {
      "main": [
        [
          {
            "node": "\u540c\u6b65\u5dee\u5f02\u5230 TK-SaaS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u6709\u5dee\u5f02\uff1f",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u540c\u6b65\u5dee\u5f02\u5230 TK-SaaS": {
      "main": [
        [
          {
            "node": "\u6709\u5dee\u5f02\uff1f",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u6709\u5dee\u5f02\uff1f": {
      "main": [
        [
          {
            "node": "\u5dee\u5f02\u901a\u77e5\uff08\u9884\u7559\uff09",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "active": false
}