apps/n8n/workflows/03-aftersales-deadline-tracker.json
{
  "name": "\u552e\u540e\u622a\u6b62\u8ddf\u8e2a - After-sales Deadline Tracker",
  "nodes": [
    {
      "id": "545be02e-0424-4368-bf40-e44c8884ddf2",
      "name": "\u6bcf4\u5c0f\u65f6\u89e6\u53d1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      }
    },
    {
      "id": "f9a83351-c93d-4134-9648-c903e2825193",
      "name": "\u83b7\u53d6\u552e\u540e\u5de5\u5355",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        250,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/api/aftersales?status=open,processing",
        "options": {},
        "sendBody": false,
        "sendHeaders": true
      }
    },
    {
      "id": "4f40afac-18bd-401e-a04b-52babc325c13",
      "name": "\u68c0\u67e5\u622a\u6b62\u65f6\u95f4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "language": "python",
        "code": "import datetime\n\nnow = datetime.datetime.now(datetime.timezone.utc)\n\nalerts = []\nfor case in items:\n    case_id = case.get('id')\n    case_type = case.get('after_sale_type')\n    status = case.get('after_sale_status')\n    \n    # \u4e89\u8bae\u8bc1\u636e 24h \u5012\u8ba1\u65f6\n    evidence_deadline = case.get('evidence_deadline')\n    if evidence_deadline:\n        try:\n            deadline = datetime.datetime.fromisoformat(evidence_deadline.replace('Z', '+00:00'))\n            remaining = (deadline - now).total_seconds() / 3600\n            if remaining < 0:\n                alerts.append({\n                    'case_id': case_id,\n                    'type': 'evidence_overdue',\n                    'deadline': evidence_deadline,\n                    'remaining_hours': round(remaining, 1),\n                    'message': '\u8bc1\u636e\u63d0\u4ea4\u5df2\u8d85\u65f6'\n                })\n            elif remaining <= 24:\n                alerts.append({\n                    'case_id': case_id,\n                    'type': 'evidence_urgent',\n                    'deadline': evidence_deadline,\n                    'remaining_hours': round(remaining, 1),\n                    'message': f'\u8bc1\u636e\u63d0\u4ea4\u622a\u6b62\u5269\u4f59 {round(remaining)}h'\n                })\n        except:\n            pass\n    \n    # \u7533\u8bc9\u7a97\u53e3 21 \u5929\n    appeal_deadline = case.get('appeal_deadline')\n    if appeal_deadline:\n        try:\n            deadline = datetime.datetime.fromisoformat(appeal_deadline.replace('Z', '+00:00'))\n            remaining = (deadline - now).total_seconds() / 3600 / 24\n            if remaining < 0:\n                alerts.append({\n                    'case_id': case_id,\n                    'type': 'appeal_overdue',\n                    'deadline': appeal_deadline,\n                    'remaining_days': round(remaining, 1),\n                    'message': '\u7533\u8bc9\u7a97\u53e3\u5df2\u5173\u95ed'\n                })\n            elif remaining <= 7:\n                alerts.append({\n                    'case_id': case_id,\n                    'type': 'appeal_warning',\n                    'deadline': appeal_deadline,\n                    'remaining_days': round(remaining, 1),\n                    'message': f'\u7533\u8bc9\u7a97\u53e3\u5269\u4f59 {round(remaining)} \u5929'\n                })\n        except:\n            pass\n    \n    # \u521d\u59cb\u552e\u540e 4 \u4e2a\u5de5\u4f5c\u65e5\u54cd\u5e94\n    response_deadline = case.get('response_deadline')\n    if response_deadline and status in ['open', 'pending']:\n        try:\n            deadline = datetime.datetime.fromisoformat(response_deadline.replace('Z', '+00:00'))\n            remaining = (deadline - now).total_seconds() / 3600\n            if remaining <= 24:\n                alerts.append({\n                    'case_id': case_id,\n                    'type': 'response_urgent',\n                    'deadline': response_deadline,\n                    'remaining_hours': round(remaining, 1),\n                    'message': f'\u552e\u540e\u54cd\u5e94\u5269\u4f59 {round(remaining)}h'\n                })\n        except:\n            pass\n\nalerts.sort(key=lambda x: x.get('remaining_hours', 999))\nreturn alerts"
      }
    },
    {
      "id": "2ab9eb14-733b-4561-b37c-5edb5907e6c0",
      "name": "\u540c\u6b65\u544a\u8b66\u5230 TK-SaaS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        750,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/tasks/sync",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "n8n-aftersales-monitor"
            },
            {
              "name": "tasks",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "\u6bcf4\u5c0f\u65f6\u89e6\u53d1": {
      "main": [
        [
          {
            "node": "\u83b7\u53d6\u552e\u540e\u5de5\u5355",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u83b7\u53d6\u552e\u540e\u5de5\u5355": {
      "main": [
        [
          {
            "node": "\u68c0\u67e5\u622a\u6b62\u65f6\u95f4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u68c0\u67e5\u622a\u6b62\u65f6\u95f4": {
      "main": [
        [
          {
            "node": "\u540c\u6b65\u544a\u8b66\u5230 TK-SaaS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "active": false
}