apps/n8n/workflows/05-evening-stock-reconciliation.json
{
  "name": "\u4e0b\u73ed\u5e93\u5b58\u590d\u6838 - Evening Stock Reconciliation",
  "nodes": [
    {
      "id": "f104a3ed-8a50-4347-9047-d12816f31df8",
      "name": "18:30 \u5b9a\u65f6\u89e6\u53d1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "hour": [
            {
              "field": "hour",
              "hoursInterval": 24
            }
          ],
          "minute": 30
        }
      }
    },
    {
      "id": "a3e753d4-e52d-4cf3-a82e-8f0820369589",
      "name": "\u6267\u884c\u5e93\u5b58\u590d\u6838",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        250,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/inventory/reconcile",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "check_type",
              "value": "evening"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "42bbe80f-98dc-40ce-9eda-43aa1a4ff937",
      "name": "\u8ba1\u7b97\u5907\u8d27\u5efa\u8bae",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "language": "python",
        "code": "# \u8ba1\u7b97\u5efa\u8bae\u5907\u8d27\u91cf\n# \u516c\u5f0f: max(0, \u5b89\u5168\u5e93\u5b58 - \u5f53\u524d\u53ef\u552e\u5e93\u5b58 - \u5728\u9014\u6570\u91cf)\n\nsuggestions = []\nfor item in items:\n    sku = item.get('sku')\n    hcrd_stock = item.get('hcrd_stock', 0) or 0\n    tiktok_stock = item.get('tiktok_stock', 0) or 0\n    in_transit = item.get('in_transit_stock', 0) or 0\n    safety_stock = item.get('safety_stock', 0) or 0\n    \n    # \u4ee5\u60e0\u7a0b\u8363\u8fbe\u4e3a\u51c6\n    effective_stock = hcrd_stock + in_transit\n    suggested = max(0, safety_stock - effective_stock)\n    \n    risk = 'none'\n    if effective_stock < safety_stock:\n        risk = 'low_stock'\n        if effective_stock == 0:\n            risk = 'out_of_stock'\n    \n    if risk != 'none' or suggested > 0:\n        suggestions.append({\n            'sku': sku,\n            'hcrd_stock': hcrd_stock,\n            'tiktok_stock': tiktok_stock,\n            'in_transit': in_transit,\n            'safety_stock': safety_stock,\n            'effective_stock': effective_stock,\n            'suggested_restock': suggested,\n            'risk': risk,\n        })\n\nreturn suggestions"
      }
    },
    {
      "id": "afe6d157-c4b4-43c7-9e18-36ab108cb94e",
      "name": "\u540c\u6b65\u5907\u8d27\u5efa\u8bae\u5230 TK-SaaS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        750,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/inventory/restock-sheet",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "check_type",
              "value": "evening"
            },
            {
              "name": "suggestions",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "4e587c71-de66-43b2-ab2d-4addfe6bb938",
      "name": "\u9700\u8981\u5907\u8d27\uff1f",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        500
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items(\"\u8ba1\u7b97\u5907\u8d27\u5efa\u8bae\").length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "1bfc2dab-9c47-4685-9c34-3718d19ae333",
      "name": "\u5907\u8d27\u63d0\u9192\uff08\u9884\u7559\uff09",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        500
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "18:30 \u5b9a\u65f6\u89e6\u53d1": {
      "main": [
        [
          {
            "node": "\u6267\u884c\u5e93\u5b58\u590d\u6838",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u6267\u884c\u5e93\u5b58\u590d\u6838": {
      "main": [
        [
          {
            "node": "\u8ba1\u7b97\u5907\u8d27\u5efa\u8bae",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u8ba1\u7b97\u5907\u8d27\u5efa\u8bae": {
      "main": [
        [
          {
            "node": "\u540c\u6b65\u5907\u8d27\u5efa\u8bae\u5230 TK-SaaS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u9700\u8981\u5907\u8d27\uff1f",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u540c\u6b65\u5907\u8d27\u5efa\u8bae\u5230 TK-SaaS": {
      "main": [
        [
          {
            "node": "\u9700\u8981\u5907\u8d27\uff1f",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u9700\u8981\u5907\u8d27\uff1f": {
      "main": [
        [
          {
            "node": "\u5907\u8d27\u63d0\u9192\uff08\u9884\u7559\uff09",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "active": false
}